<div class = "container">
    <div class = "information">
        <div class = "data">
            {{ publication.publicationTitle}}<br /></div>
        <div class = "data"><br/><h3 class = "descripciones_generales">Descripcion</h3>
            {{ publication.description}}<br /><br /></div>
        <div class = "data"><br/><h3 class = "descripciones_generales">Contacto</h3>
            {{ publication.phone}}<br /><br /></div>
        <div class = "data"><br/><h3 class = "descripciones_generales">Categoria de Trabajo</h3>
            {{ publication.category.description}}<br /><br /></div>
        <button>Solicitar</button>
    </div>
</div>