*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


.container-profile{
    background:linear-gradient(white,#85C1E9);
    padding: 0;
    width: 100%;
    height: 100%;
}

.content-postings{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.content-profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    float: left;
    top: 0;
    left: 0;
    height: 100vh;
    margin: 0vh 10vh;
}

.profile-image, .profile-description-content{
    margin: 5vh 0vh;
}


input, textarea{
    width: 50vh;
    height: 5vh;
    border: #555555;
    border-style: solid;
}

.element{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 5vh 0vh
}

.container-profile-buttons{
    display: flex;
    flex-direction: column;    
}

.btn-profile-form{
    border: none;
    color: white;
    margin: 2vh 0vh;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.card-item{
    border: solid 1px;
    border-radius: 10px;
    margin: 1.5vh 0vh;
}

.btn-delete{
    background-color: #f44336;
    cursor: pointer;
}

.btn-logout{
    background-color: #555555;
    cursor: pointer;
}

.btn-delete:hover{
    background-color: #f37c73fd;
}
.btn-logout:hover{
    background-color: #929292;
}
.contenido{
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(75, 74, 74);
    color: white;
    border-radius: 100px;
    min-width: 50%;
    margin: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.contenido:hover{
    background-color: gray;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 100px;
  }
.container-postings{
    margin: 0;
}

.profile-description-content{
    background-color: rgb(175, 172, 172);
    min-width: 100%;
    border: 5px solid rgb(175, 172, 172);
    border-radius: 10px;
    
}